
/*=====================*/


body, html {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing:border-box;
}

body {
    min-width: 320px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}



ul {margin: 0;padding: 0;}
ul li {list-style: none;}

.site-brand--height {
    min-height: 91px;
    background-color: #bb1919;
    position: relative;
}

.site-brand-inner  {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 976px;
}


.navigation--primary {
    min-height: 56px;
    position: relative;
}

#brand {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 13px;
}

.off-screen {
    display: none;
}


.brand__svg {
    height: 40px;
    width: 201px;
}

.navigation--wide {
    background-color: #a91717;
    border-color: #a91717;
    border-top: 1px solid #a91717;
}



.navigation-wide-list {
    height: 35px;
    margin: auto;
    width: 100%;
    max-width: 976px;
    overflow: hidden;
    padding-right: 81px;
    position: relative;
    padding: 0;
    list-style: none;          
}


.navigation-wide-list>li, .navigation-wide-list--secondary ul>li {
    float: left;
}



.navigation-wide-list__link, .navigation__more-button {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 0 4px 12px;
    text-decoration: none;
}


.navigation--wide .navigation-wide-list li:first-child .navigation-wide-list__link {
    padding-left: 8px;
}



.navigation-wide-list__link span, .navigation__more-button span {
    line-height: 17px;
}
.navigation-wide-list__link>span {
    border-right: 1px solid #bb4545;
    display: block;
    padding-right: 12px;
}



.orb-nav-pri-container {
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
}


.orb-ws-panels{
    display: none;
}

.orb-nav-section.orb-nav-blocks {
    width: 92px;
    overflow: hidden;
    white-space: nowrap;
}

.orb-nav-pri .orb-nav-blocks a  {
    background: 0 0,url(../img/blq-orbit-blocks_grey.svg) no-repeat;
    width: 84px;
    height: 24px;
    /*margin-top: 8px;*/
    /*margin-bottom: 8px;*/
    text-indent: -1000%;
    display: block;
}

.orb-nav-pri .orb-nav-blocks a span {
    display: none;
}

.orb-skip-links {
    display: none;
}

.orb-nav-section.orb-nav-search {
    display: none;
}

.orb-nav ul{
    padding: 0;
    list-style: none;
    margin: 0;
    width: 72px;
    height: 40px;   
    border-right: 1px solid rgb(64, 64, 64);
    border-left: 1px solid rgb(64, 64, 64);
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.orb-nav ul:after {
    position: absolute;
    content: '';
    border: 3px solid transparent; border-top: 3px solid #000;
    right: 8px;
    top: 48%;
}

.orb-nav ul li a {
    color: #000;
    text-decoration: none;
    margin-left: 15px;
}

.orb-nav ul li a:visited {
    color: #000;
}

.orb-nav-pri-container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;

}


.container--primary-and-secondary-columns {
    width: 100%;
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.column--primary {
    width: 67.5%;
}

img {
    max-width: 100%;
    height: auto;
}


.story-body__mini-info-list-and-share-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

.twite__panel {
    display: none;
}

.sharetools  {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}


.byline span {
    display: block;
}

.date--v2 {
    background-image: url(..//img/news--icons-sprite.png);
    background-position: left -4009px;
    background-repeat: no-repeat;
    color: #5a5a5a;
    margin-left: -10px;
    padding-left: 28px;
    white-space: nowrap;
}


.with-extracted-share-icons .extracted__icon--facebook {
       background-color: inherit;
    background-image: url(../img/share_tools_44px.png);
    background-repeat: no-repeat;
    -webkit-background-size: 98px 98px;
    -moz-background-size: 98px;
    -o-background-size: 98px;
    background-size: 98px;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    width: 44px;
}


.with-extracted-share-icons .extracted__icon--facebook {
    background-position: -54px 0;
}


.story-body__mini-info-list-and-share {
    border-bottom: 1px solid #dbdbdb;
    overflow: auto;
    width: 100%;
}

.twite__share-button {
        color: #0b8a0b;
    cursor: pointer;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    text-decoration: none;
}

.twite__share-icon {
    fill: #0b8a0b;
    margin-right: 5px;
}


.extracted-svg.ex-email {
     fill: #aaa;
}


.extracted-svg.ex-twitter{
     fill: #1DA1F2;
}

.extracted-svg.ex-messengerdesktop {
     fill: #0084FF;
}

.extracted-svg.ex-facebook {
     fill: #3B5998;
}


.media-landscape {
    margin: 0;      
}


table {
    border-collapse: collapse;
    border-spacing: 0px;
}



.c15, .c15 td, .c15 tr {
    border: 1px solid #d6d6d6;
}


.c15 .c3 p {
    padding: 5px 10px 5px;
    margin-bottom: 0px;
}


.tags-container {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    clear: left;
    color: #000;
    margin-top: 16px;
    padding-bottom: 16px;
}

.tags-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.tags-list__tags {
    margin: 15px 0;
}



.tags-list__tags a {
    color: #686868;
    border: 1px solid #686868;
    padding: 8px;
    margin-right: 10px;
    text-decoration: none;
}

.tags-list__tags a:hover {
   background-color: #1161A0; 
   color: #fff;
}

.burger {
    display: none;
}

.share__tools.share__tools--lightweight{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.share__tools.share__tools--lightweight li{
    width: 52px;
    height: 32px;
    border: 1px solid #000;
    margin-right: 10px;
 }

 .share__tools.share__tools--lightweight li a{
    display: block;
    width: 100%;
    height: 100%;
    background: #615f5d url(../img/sprite-sharetools.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.share__tools.share__tools--lightweight li span {
    display: none;
}


.share__tools--lightweight .share__tool--facebook a {
    background-position: center -97px;
}

.story-more {
    padding: 8px 0;
}

.group {
    border-top: 8px solid #dcdcdc;
    padding-top: 8px;

}


.group__header {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 16px;
}


.more-on-this-story .unit__title {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
}


.live-timeline-inner a:visited, a:visited .cta {
    color: #686868;
    text-decoration: none;
}
.live-timeline-inner a, a .cta {
    color: #222;
    font-weight: 700;
    text-decoration: none;
}

.unit__link-wrapper {
    text-decoration: none;
}


.unit__title {
    margin-bottom: 5px;
}

.unit.unit--regular {
    margin-bottom: 25px ;
}

.column--primary {
    margin-bottom: 40px;
}

.orb-footer a{
    color: #fff !important;
}

.orb-footer {
    background-color: #4c4c4c;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 20px;
}

#orb-aside, #orb-contentinfo {
    width: 100%;
    max-width: 967px;
    margin: 0 auto;
}

.orb-footer-primary-links {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.orb-footer-primary-links ul {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.orb-footer-primary-links ul li {
    flex-grow: 1;
    text-decoration: none;
    position: relative;
}

.orb-footer-primary-links ul li:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 12px;
    top: 3px;
    right: 20px;
    background-color: #ddd;
}

.orb-footer-primary-links ul li:last-of-type:after {
    display: none;
}

.orb-footer-primary-links ul li a {
    text-decoration: none;
    display: block;
    width: 100%;
}

.orb-footer-primary-links ul li a:hover {
    text-decoration: underline;
}

.orb-footer-inner ul li {
    display: inline-block;
    margin-right: 25px;
}

.orb-footer-inner ul li a {
    font-size: 12px;
    text-decoration: none;
}

.orb-footer-inner ul li a:hover {
    text-decoration: underline;
}

#orb-contentinfo {
    margin-top: 20px;
}

.orb-footer-inner ul {
    margin-bottom: 30px;
}


.story-body__inner ul li {
    list-style-type: disc;
}

.story-body__inner ul {
    list-style-type: disc;
}


.unit_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 10px;
}

.unit_img {
    margin-right: 15px;
    width: 50px;
    min-width: 50px;
    height: auto;
}




@media only screen and (max-width: 991px) {
    .site-brand-inner.site-brand-inner--height, .orb-nav-pri, .navigation-wide-list, #orb-aside, #orb-contentinfo {
        padding-left: 16px;
        padding-right: 16px;
    }

    .column--primary {
        width: 100%;
    }

    .container--primary-and-secondary-columns {
        padding-left: 16px;
        padding-right: 16px;
    }
  
}



@media only screen and (max-width: 767px) {
    .navigation-wide-list {
        display: none;
    }

    .site-brand--height {
        min-height: auto;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
    }

    .burger {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 40px;
        height: 40px;
        border: 1px solid rgb(187, 69, 69);
        justify-content: center;
        -ms-align-items: center;
        align-items: center;    
    }


    .burger-inner {
        width: 16px;
        height: 4px;
        background-color: #fff;
        position: relative;
    }

    .burger-inner:before, .burger-inner:after {
        content: '';
        width: 16px;
        height: 4px;
        background-color: #fff;
        position: absolute;
        left: 0;
    }

    .burger-inner:before {
        top: -6px;
    }

    .burger-inner:after {
        bottom: -6px;
    }


    .navigation--wide {
        background-color: transparent;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        margin-right: 15px;
    }


}


@media only screen and (max-width: 575px) {

    
    #orb-aside .orb-footer-inner ul li {
        width: 33%;
        min-width: 33%;
        max-width: 33%;
        flex-grow: auto;
        margin: 0;
    }
    .orb-footer-inner ul {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .orb-footer-primary-links{
        padding-bottom: 8px;
    }
    
    .orb-footer-inner ul li a  {
        font-size: 14px;
    }

    #orb-contentinfo .orb-footer-inner ul li {
        margin-bottom: 10px;
        min-width: 33.33%;
    }

 

}





@media only screen and (max-width: 500px) {
    .story-body__mini-info-list-and-share-row {
        display: block;
    }

    .with-extracted-share-icons {
        margin-top: 15px;
    }

    .story-body__h1 {
        font-size: 22px;
    }
}


